{% extends "frontend/base.html" %}
{% block title %}{{ category.name }} | Finanza nel tubo{% endblock %}

{% block content %}
<div class="container">
    <h1 style="color: {{ category.color }}; margin-bottom: 25px;">{{ category.name }}</h1>
    {% for article in articles %}
        <div class="row mb-4">
            <!-- Immagine dell'articolo -->
            <div class="col-md-4">
                {% if article.video and article.video.thumbnail %}
                    <img src="{{ article.video.thumbnail }}" alt="{{ article.title }}" class="img-fluid rounded">
                {% else %}
                    <!-- Puoi inserire un'immagine di fallback qui se non c'è thumbnail -->
                    <img src="/path/to/default/image.jpg" alt="Default Image" class="img-fluid rounded">
                {% endif %}
            </div>

            <!-- Dettagli dell'articolo -->
            <div class="col-md-8">
                <h2><a href="{{ url_for('post', category_name=category.slug, article_slug=article.slug) }}">{{ article.title }}</a></h2>
                <p class="text-muted">di {{ article.video.channel_title }}</p>
                <p>{{ article.article_intro.split(' ')[:35]|join(' ') }}{{ '...' if article.article_intro|wordcount > 35 }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}