{% extends "frontend/base.html" %}

{% block title %}Privacy Policy | Finanza nel Tubo{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Privacy Policy</h1>

    <h2>Ultimo aggiornamento: [Nov 2023]</h2>
    <p>Benvenuti su Finanza nel Tubo. La vostra privacy è di massima importanza per noi. Questa Privacy Policy descrive le informazioni che raccogliamo da voi, come le utilizziamo, e come le proteggiamo. Si applica a tutti i servizi e prodotti offerti da Finanza nel Tubo.</p>

    <h3>Raccolta delle Informazioni</h3>
    <p>Raccogliamo informazioni quando vi registrate sul nostro sito, accedete ai nostri servizi, effettuate una transazione, partecipate a una nostra promozione o interagite in altro modo con il nostro sito. Le informazioni raccolte possono includere il vostro nome, indirizzo email, numero di telefono, dettagli della transazione e preferenze di navigazione.</p>

    <h3>Utilizzo delle Informazioni</h3>
    <p>Le informazioni che raccogliamo da voi possono essere utilizzate per:</p>
    <ul>
        <li>Personalizzare la vostra esperienza e rispondere alle vostre esigenze individuali</li>
        <li>Fornire contenuti pubblicitari personalizzati</li>
        <li>Migliorare il nostro sito web</li>
        <li>Migliorare il servizio clienti e le vostre esigenze di supporto</li>
        <li>Contattarvi tramite email</li>
        <li>Amministrare un concorso, una promozione o un sondaggio</li>
    </ul>

    <h3>Protezione delle Informazioni</h3>
    <p>Adottiamo una varietà di misure di sicurezza per mantenere al sicuro le vostre informazioni personali. Utilizziamo avanzate tecnologie di crittografia per proteggere le informazioni sensibili trasmessi online e proteggiamo anche le vostre informazioni offline.</p>

    <h3>Divulgazione a Terzi</h3>
    <p>Non vendiamo, scambiamo o trasferiamo in alcun modo a parti esterne le vostre informazioni personali identificabili. Questo non include terzi di fiducia che ci assistono nella gestione del nostro sito web, nella conduzione della nostra attività o nel servirvi, purché tali parti concordino di mantenere tali informazioni riservate.</p>

    <h3>Protezione dei Minori</h3>
    <p>Il nostro sito, prodotti e servizi sono tutti diretti a persone che hanno almeno 13 anni di età o più. Se siamo a conoscenza del fatto che abbiamo raccolto informazioni personali da un bambino di età inferiore ai 13 anni senza verifica del consenso dei genitori, prendiamo misure per rimuovere tali informazioni dai nostri server.</p>

    <h3>Modifiche alla Nostra Privacy Policy</h3>
    <p>Se decidiamo di modificare la nostra privacy policy, pubblicheremo tali modifiche su questa pagina. Vi incoraggiamo a rivedere regolarmente questa pagina per gli ultimi aggiornamenti sulla nostra politica di privacy.</p>

    <h3>Contattaci</h3>
    <p>Se avete domande o dubbi riguardo questa Privacy Policy, non esitate a contattarci all'indirizzo: info@finanzaneltubo.it</p>
</div>
{% endblock %}
