{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row g-0">
        <!-- Sidebar a sinistra -->
        <div class="col-md-3">
            {% include 'sidebar.html' %}
        </div>

        <!-- Contenuto principale a destra -->
        <div class="col-md-9">
            <div class="container mt-4">
                <h3 class="mb-3">Step 2: Creazione Articolo</h3>

                <form action="{{ url_for('create_article_step2', video_id=video_id) }}" method="post" class="mb-4">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title:</label>
                        <input type="text" class="form-control" id="title" name="title" value="{{ results.title }}">
                    </div>

                    <div class="mb-3">
                        <label for="meta_description" class="form-label">Meta Description:</label>
                        <input type="text" class="form-control" id="meta_description" name="meta_description" value="{{ results.meta_description }}">
                    </div>

                    <div class="mb-3">
                        <label for="h1" class="form-label">H1:</label>
                        <input type="text" class="form-control" id="h1" name="h1" value="{{ results.h1 }}">
                    </div>

                    <div class="mb-3">
                        <label for="article_intro" class="form-label">Article Intro:</label>
                        <textarea class="form-control" id="article_intro" name="article_intro" rows="4">{{ results.article_intro }}</textarea>
                    </div>
                    <input type="hidden" name="proceed_to_step3" value="true">
                    <input type="submit" class="btn btn-primary" name="submit_action" value="Prossimo Step">
                </form>

                <!-- Qui puoi aggiungere ulteriori contenuti o elenchi, se necessario -->

            </div>
        </div>
    </div>
</div>
{% endblock %}

