{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row g-0">
        <!-- Sidebar a sinistra -->
        <div class="col-md-3">
            {% include 'sidebar.html' %}
        </div>

        <!-- Contenuto principale a destra -->
        <div class="col-md-9">
            <div class="container mt-4">
                <h3 class="mb-3">Step 3: Seleziona gli outlines</h3>

                <form action="{{ url_for('create_article_step3', video_id=video_id) }}" method="post" class="mb-4">
                    {% for outline in outlines %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="outline" value="{{ outline.title }}:{{ outline.description }}" id="{{ outline.title }}">
                        <label class="form-check-label" for="{{ outline.title }}">
                            <strong>{{ outline.title }}</strong>: {{ outline.description }}
                        </label>
                    </div>
                    {% endfor %}
                    <br>
                    <input type="submit" class="btn btn-primary" value="Prosegui allo Step 4">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
